name: Unit and E2E test

on: 
 push:
  branches: ["main"]
 pull_request: 
  branches: ["main"]
jobs: 
 test-and-check:
  runs-on: ubuntu-latest
  steps: 
   - uses: actions/checkout@v4
     
      # Setup pnpm
   - uses: pnpm/action-setup@v3
     with: 
      version: v10.26.1
         
   - name: Setup Nodejs
     uses: actions/setup-node@v4
     with: 
      node-version: 20
      cache: 'pnpm'
      # Install dependencies
   - name: Install dependencies
     run: pnpm install
      # Type Checking (No build needed, just checks TS errors)
   - name: Type Check
     run: pnpm tsc --noEmit
      # Run unit test
   - name: Run Vitest
     run: pnpm test:ui
      # Run e2e test
   - name: Install Cypress Binary
     run: pnpm exec cypress install

   - name: Cypress run
     uses: cypress-io/github-action@v6
     with:
      # We manually installed everything, so now we tell the action 
      # just to run the tests and start the server.
      install: false 
      command: pnpm exec cypress run
      start: pnpm dev
      wait-on: 'http://localhost:5173'
 build-and-publish-to-docker-hub: 
  runs-on: ubuntu-latest
  # Only bulid after test success
  needs: test-and-check
  # Only push when merging to main
  if: github.ref == 'refs/heads/main'
  steps: 
  - name: Checkout code
    uses: actions/checkout@v4
  # Buildx is a powerful tool that helps with caching and multi-platform builds
  - name: Setup Docker Buildx
    uses: docker/setup-buildx-action@v3
  # Login to docker hub
  - name: Login to docker hub
    uses: docker/login-action@v3
    with:
     username: ${{ secrets.DOCKERHUB_USERNAME }}
     password: ${{ secrets.DOCKERHUB_TOKEN }}
  # Build docker image
  - name: Build docker image
    uses: docker/build-push-action@v5
    with:
     context: .
     push: true
     # One tag name for the newest version and one for the history track 
     tags: |
      ${{ secrets.DOCKERHUB_USERNAME }}/shopping-store:latest
      ${{ secrets.DOCKERHUB_USERNAME }}/shopping-store:${{ github.sha }}
     # This uses GitHub's cache to make subsequent builds much faster
     cache-from: type=gha
     cache-to: type=gha,mode=max